KAUST2016/stochprog/.ipynb_checkpoints/ex1gauss-checkpoint.ipynb
UWMadison2016/IPM_examples/#farmLink.jl#
UWMadison2016/stochprog/.ipynb_checkpoints/ex1gaussfullpyplot-checkpoint.ipynb
UWMadison2016/stochprog/.ipynb_checkpoints/ex1gausspyplot-checkpoint.ipynb
UWMadison2016/stochprog/.ipynb_checkpoints/farmerinferencepyplot-checkpoint.ipynb
